#page-orphanage{
    display: flex;
    min-height: 100vh;
}



main{
    flex: 1;
}


/*details*/
.orphanage-details{
    width: 70rem;
    margin: 6.4rem auto;
    background-color: white;
    /*border: width style color*/
    border:2px solid #d3e2e5;
    border-radius: 2rem;

    overflow: hidden;
}
/*o > pega apenas a imagem da primeira "camada"*/
.orphanage-details > img{
    width: 100%;
    height: 30rem;

    /*pra imagem n ficar esticada*/
    object-fit: cover;
}

.images{
    /*cria uma grade entre os filhos da classe .images*/
    display: grid;

    /*repetir 6 vezes a coluna com medida de 1fr, que é fração (1/6)*/
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.6rem;
    margin: 16px 40px 0;
}

.images button img{
    width: 100%;
    height: 8.8rem;
    object-fit: cover;
}

.images button{
    border: 0;
    background: none;
    height: 8.8rem;

    border-radius: 2rem;
    overflow: hidden; /*restringe as medidas do conteudo da caixa*/

    cursor: pointer;
    opacity: 0.6;

    transition: opacity 200ms;
}

.images button:hover,
.images button.active{
    opacity: 1;
}

/*orphanage detail contents*/
.orphanage-details-content{
    padding: 8rem;
}

.orphanage-details-content h1 {
    color: #4d6f80;
    font-size: 5.4rem;
    line-height: 1.5;

    margin-bottom: 0.8rem;
}

.orphanage-details-content p{
    line-height: 1.5;
    color: #5c8599;
    margin-top: 2.4rem;
}

.orphanage-details-content hr{
    width: 100%;
    height: 1px;
    border: 0;
    background: #d3e2e6;
    margin: 6.4rem 0
}

.orphanage-details-content h2{
    font-size: 3.6rem;
    line-height: 1.5;
    color: #4d6f80
}

.open-details{
    margin-top: 2.4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr); /*ou 1fr 1fr*/
    column-gap: 2rem;

    line-height: 1.5;
}

.open-details div{
    padding: 3.2rem 2.4rem;
}

.open-details img{
    display: block;    
    margin-bottom: 2rem;
}

.open-details .hour{
    background: linear-gradient(150deg, #e6f7fb 8%, #ffffff 92%);
    border: 1px solid #b3dae2;
    border-radius: 20px;
    color: #5c8599;
}
.open-details .open-on-weekends{
    
    border-radius: 20px;
    
}
.open-on-weekends.open{
    background: linear-gradient(150deg, #EDFFF6 8%, #ffffff 92%);
    border: 1px solid #A1E9C5;
}

.open-on-weekends.open p{
    color: #37c77f;
}

.open-on-weekends.closed{
    background: linear-gradient(150deg, #ffeded 8%, #ffffff 92%);
    border: 1px solid #e9a1a1;
}

.open-on-weekends.closed p{
    color: #c73737;
}
