aside.sidebar{
    /*z-index: 10;*/
    position: fixed;
    height: 100%;
    padding: 3.2rem 2.4rem;
    background-color: #15c3d6;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*botão do sidebar*/
aside.sidebar footer button{
    width: 48px;
    height: 48px;
    border: none;

    background-color: #12afcd;
    border-radius: 1.6rem;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 200ms;
}

aside.sidebar footer button:hover{
    background-color: #17d6eb;
}

.with-sidebar{ /*evitar que a sidebar passe por cima de algumas coisas*/
    padding-left: 110px;
}